$default-padding: 12px !default;
$background-color: #282a2c !default;
$default-color: rgb(122, 122, 122) !default;
$light-grey: rgb(230, 230, 230) !default;
$dark-grey: rgb(200, 200, 200) !default;
$highlight1: rgb(245, 113, 80) !default;
$highlight2: rgb(190, 57, 33) !default;
$transcript-highlight: rgb(255, 249, 169) !default;
$transcript-search-highlight: rgb(255, 249, 169) !default;

$mobile-breakpoint: 500px;
